body{
    background-color: #c04233;

}

header{
    color:white;
    font-family:sans-serif;
    background-color: #e74c3c;
    position:fixed;
    top:0;
    width:100%;
    z-index: 300;
    text-align: center;
    padding-top:5%;
    box-shadow:0px 3px 30px black;


}

header h1{
    font-size:3em;
    padding:2%;
}


#or{

    float:left;
    color:white;
    position:relative;
    margin-left: 2%;
    margin-top: 15%;
    margin-right: 2%;
}



.card{
    background-color: #e74c3c;
    position:relative;
    width:100%;
    color:white;
    font-family: sans-serif;
    font-size:1em;
    text-align:center;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 0;

}






.left{
    background-color: white;
    float:left;
    font-size:1em;
    top:10%;
    height:40%;
    margin:0 0% 0 15%;
    margin-bottom: 20%;
    width:30%;
    position:relative;
    color:black;
    box-shadow:0px 10px 50px black;

    /*box-shadow:10px 10px 5px black;*/
}

.right{
    background-color:white;
    float:left;
    font-size:1em;
    top:10%;
    height:40%;
    margin:0 10% 0 0%;
    width:30%;
    margin-bottom: 20%;
    overflow:inherit;
    position:relative;
    color:black;
    box-shadow:0px 10px 50px black;
    /*box-shadow:10px 10px 5px black;*/
}

#leftpic{
    position:relative;
    width:100%;

}

#rightpic{
    position:relative;
    width:100%;
}

#teaser{
    text-align: center;
    font-family: sans-serif;
    color:white;
    margin-top:10%;
    margin-bottom:3%;
    position:relative;
}


.lost{
    box-shadow:0px 0px 50px black;
    margin-bottom: 10%;
}


